
   

<div class="container" >
    <div class="row" style="margin-top: -19px; margin-left: -19px;">
        <div class="column" style="background-color: white;">

            <p>Meals For One Menu</p>
            <mat-expansion-panel  hideToggle="true" (click)="click()">
                <mat-expansion-panel-header >
                  <mat-panel-title>
                      <mat-icon>{{icon  ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
                      <div  class="col-md-9">
                    <b> Dinner</b>
                      </div>
                  </mat-panel-title>
          
                </mat-expansion-panel-header>
              </mat-expansion-panel>

              <mat-expansion-panel  hideToggle="true" (click)="click()">
                <mat-expansion-panel-header >
                  <mat-panel-title>
                      <mat-icon>{{icon  ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
                      <div  class="col-md-9">
                    <b> Late Night </b>
                      </div>
                  </mat-panel-title>
          
                </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel  hideToggle="true" (click)="click()">
                <mat-expansion-panel-header >
                  <mat-panel-title>
                      <mat-icon>{{icon  ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
                      <div  class="col-md-9">
                    <b> Breakfast </b>
                      </div>
                  </mat-panel-title>
          
                </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel  hideToggle="true" (click)="click()">
                <mat-expansion-panel-header >
                  <mat-panel-title>
                      <mat-icon>{{icon  ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
                      <div  class="col-md-9">
                    <b> Lunch </b>
                      </div>
                  </mat-panel-title>
          
                </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel  hideToggle="true" (click)="click()">
                <mat-expansion-panel-header >
                  <mat-panel-title>
                      <mat-icon>{{icon  ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
                      <div  class="col-md-9">
                    <b> Snacks </b>
                      </div>
                  </mat-panel-title>
          
                </mat-expansion-panel-header>
              </mat-expansion-panel>


        </div>
        <div class="column" >
          
        </div>

      </div>

    </div>